    <div class="banner p-5 " [style.background-image]="
    'linear-gradient(#301b03d7, #301b03d7), url(' + bannerImage + ')'
  ">
      <app-logo ></app-logo>
       <div class="d-flex flex-column mt-5 px-5  ">
      <div class="quote ">
        
        <p class=" fst-italic fs-5 ">
            "A reader lives a thousand lives before he dies. The man who never reads lives only one."
        </p>
        </div>
       
            <p class="author fs-6">
           — George R. R. Martin</p> 
        
       </div>
      
   </div>
     
